<h1>Liste des Pokemons</h1>

<% if @pokemons.any? %>

	<table class="table">
		<thead>
			<tr>
				<td>Nom</td>
				<td>Actions</td>
			</tr>
		</thead>
		<tbody>	
			<% @pokemons.each do |pokemon| %>
			<tr>
				<td><%= pokemon.name %></td>
				<td><%= link_to 'Afficher', pokemon_path(pokemon.id) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
		<% else %>		
			<p> Il n'y a pas de Pokemons</p>
		<% end %>