<h1>Afficher un Pokemon </h1>

<p>Nom : <%= @pokemon.name %></p>
<p>
	<%= link_to 'Editer', edit_pokemon_path(@pokemon), class: 'btn btn-warning' %> 
</p>
<p>
	<%= link_to 'Retour à la liste des Pokemons' , pokemons_path, class: 'btn btn-success' %>
</p>